/* Main page width */
$pageWidth: 1200px;

/* Borders */
$border-light: 1px solid rgba(0, 0, 0, 0.1);

/* Shadows */
$shadow-normal: 0 0 3px rgba(0, 0, 0, 0.1);
$shadow-default: 0 0 0.5rem rgba(0, 0, 0, 0.5);
$shadow-page: 0 0 2rem rgb(0, 0, 0, 0.2);
$shadow-page--inset: inset $shadow-page;
$shadow-hover: 0 0 1rem rgba(0, 0, 0, 0.8);
$shadow-text--border: 0 0 5px rgba(0, 0, 0, 1);

/* Small news box size */
$news-box--small: 100px;

/* Border radius */
$radius-default: 0.5rem;

/* Image sizes */
$image-height--medium: 300px;
$image-height--medium--expanded: 400px;
$image-height--large: 500px;

/* Transitions */
$transition-default: all ease-in-out 200ms;

/* Navigation */
$navigation-height: 80px;