/* Borders */
$borderLight: 1px solid rgba(0, 0, 0, 0.1);

/* Shadows */
$shadowBorder: 0 0 3px rgba(0, 0, 0, 0.1);

/* Main page width */
$pageWidth: 1200px;

/* Shadow on hover */
$hoverShadow: 0 0 1rem rgba(0, 0, 0, 0.8);

/* Text shadows */
$titleTextShadow: 0 0 1rem rgba(0, 0, 0, 0.8);
$textBorder: 0 0 5px rgba(0, 0, 0, 1);

/* Small news box size */
$smallNewsBox: 100px;

/* Border radius */
$defaultRadius: 1rem;