/* Borders */
$borderLight: 1px solid rgba(0, 0, 0, 0.1);

/* Shadows */
$shadowBorder: 0 0 3px rgba(0, 0, 0, 0.1);

$defaultShadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

$pageShadow: 0 0 2rem rgb(0, 0, 0, 0.2);
$pageShadowInset: inset $pageShadow;

/* Main page width */
$pageWidth: 1200px;

/* Shadow on hover */
$hoverShadow: 0 0 1rem rgba(0, 0, 0, 0.8);

/* Text shadows */
$titleTextShadow: 0 0 1rem rgba(0, 0, 0, 0.8);
$textBorder: 0 0 5px rgba(0, 0, 0, 1);

/* Small news box size */
$smallNewsBox: 100px;

/* Border radius */
$defaultRadius: 0.5rem;

/* Image sizes */
$mediumImageHeight: 300px;
$expandedMediumImageHeight: 400px;
$bigImageHeight: 500px;

/* Transitions */
$defaultTransition: all ease-in-out 200ms;

/* Navigation */
$navigationHeight: 80px;