@import 'colors.scss';
@import 'constants.scss';
@import 'fonts.scss';

/* 
  Resets  
*/

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $red;

  &::-webkit-scrollbar-track {
    background-color: $white;
  }

  &::-webkit-scrollbar {
    width: 0.45rem;
    height: 0.45rem;
    background-color: $red;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $red;

    background-image: -webkit-gradient(linear, 0 0, 0 100%,
        color-stop(.5, rgba(255, 255, 255, .2)),
        color-stop(.5, transparent), to(transparent));
  }
}

*:before,
*:after {
  box-sizing: inherit;
}

/* Base */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'SalmaPro', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

h1 {
  font-family: 'SalmaPro', sans-serif;
  font-size: 61px;
  line-height: 1.3em;
  font-weight: 100;
}

h2 {
  font-size: 26px;
  line-height: 1em;
  font-weight: 600;
}

h3 {
  text-transform: uppercase;
  font-size: 23px;
  line-height: 1.3em;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

h5 {
  font-size: 15px;
  line-height: 1.5em;
}

h6 {
  font-size: 10px;
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: none !important;
}

input {
  font-family: inherit;
}

select {
  letter-spacing: inherit;
  font-weight: inherit;
  appearance: none;
  background-color: transparent;
  color: inherit;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

/* 
  App 
*/
.App {
  padding-top: 80px;
}

/* 
  Navigation 
*/
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  z-index: 1000;

  .navigation__links-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: $pageWidth;
    height: 100%;
    text-align: right;
    padding: 0.5rem 1rem;

    .navigation__link {
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;

      &.navigation__link--logo {
        float: left;

        img {
          max-height: 8vh;
        }
      }

      &.navigation__link--icon {
        padding: 1rem;
      }

      .navigation__link--text {
        position: relative;
        display: inline-block;
        transition: ease-in-out all 150ms;
        color: $darkGray;
        padding: 1rem;
        padding-right: 0;
        margin-right: 1rem;

        span {
          position: relative;
          text-transform: uppercase;
          color: inherit;
        }

        &:hover {
          color: $main;
        }
      }

      &.navigation__link--dropdown {
        margin-left: 1rem;
        border: none !important;

        &:focus,
        &:active {
          border: none !important;
        }

        .dropdown-item {
          color: $gray;
          padding: 1rem;

          a {
            color: inherit;
          }

          &:hover:not(.dropdown--picture) {
            color: $white;
            background-color: $main;
          }

          &.dropdown--picture:hover {
            background-color: unset;

            .image {
              outline-color: $main;
            }
          }
        }
      }

      &.selected {
        .navigation__link--text {
          color: $main;

          span:after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: $main;
          }
        }
      }
    }
  }
}

/* Side Navigation - For EKG Monitor Controls */
.side-navigation {
  height: 100%;
  padding: 2rem 0;

  .side-navigation__links {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .side-navigation__link {
      padding: 1rem;
      width: 100%;
      margin-bottom: 1rem;
      background-color: $white;
      border-radius: $defaultRadius;
      box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);
      transition: ease-in-out 250ms all;
      cursor: pointer;

      .side-navigation__link--text {
        text-transform: uppercase;
        text-align: center;
        color: $gray;
      }

      &.side-navigation__link--logo {
        padding: 1rem;

        img {
          max-height: 4rem;
          object-fit: contain;
        }
      }

      &.selected {
        background-color: $main;

        .side-navigation__link--text {
          color: $white
        }
      }

      &:hover:not(.side-navigation__link--logo) {
        background-color: $main;

        .side-navigation__link--text {
          text-transform: uppercase;
          color: $white;
        }
      }
    }
  }
}

/* Hero */
.hero--background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -3;
  overflow: hidden;

  .hero--background-gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, $lightBlue, $softBlue, $purple, $main);
    background-size: 400% 400%;
    animation: backgroundPosition 15s ease infinite;
  }

  .hero--background-image {
    height: 100%;
    width: 100%;
  }
}

/* Wrapper */
.wrapper {
  max-width: $pageWidth;
  margin: auto;
}

/* Page */
.page {
  padding: 1rem;
  overflow: hidden;
  background-color: $white;
  min-height: 100vh;
}

/* Box */
.box-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .box {
    margin: auto;
    flex: auto;
    min-height: 300px;
    background-color: $softLight;
    border-radius: $defaultRadius;
    margin-bottom: 1rem;
    color: $gray;
    text-align: center;
    transition: ease-in-out 150ms all;

    .box--head {
      padding: 0.5rem;
    }

    .box--body {
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .box--title {
      margin-bottom: 0.5rem;
    }

    .box--icon {
      transition: ease-in-out 250ms all;
      color: $lightBlue;

      svg {
        filter: drop-shadow(0 3px 3px rgb(0 0 0 / 0.2));
      }
    }

    &.box-xl {
      width: 75%;
    }
  }
}

/* Carousel */
.carousel {
  height: 100%;
  width: 100%;

  .carousel-image {
    width: 100%;
    height: 100%;
  }
}

/* Shadows */
.img-shadow {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 10rem rgba(0, 0, 0, 0.5);
  }
}

.img-shadow--left {
  &::before {
    box-shadow: inset 25rem 0 20rem -15rem rgba(0, 0, 0, 0.5);
  }
}

/* Test */
.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-ellipsis--2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.text-ellipsis--3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.text-underline-hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-primary-hover {
  color: inherit;

  &:hover {
    color: $main;
  }
}

/* Articles Slideshow */
.articles-wrapper {
  overflow-y: hidden;
  width: 100%;
  height: 100%;

  .articles-scroll {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    $paddingSize: 5px;

    .articles-slideshow {
      display: grid;
      flex: 1;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-gap: $paddingSize;
      height: 30rem;
      min-width: $pageWidth;
      background-color: $white;
      padding-left: $paddingSize;

      &:last-child {
        padding-right: $paddingSize;
      }

      .slide {
        position: relative;
        cursor: pointer;
        transition: all ease-in-out 100ms;
        overflow: hidden;

        img {
          transition: all ease-in-out 200ms;
        }

        .slide-title {
          position: absolute;
          bottom: 1%;
          left: 3%;
          padding: 0.5rem;

          h5 {
            color: $white;
            text-shadow: $textBorder;
            transition: all ease-in-out 250ms;
          }
        }

        &:hover {
          img {
            transform: scale(1.3);
          }

          h5 {
            font-size: 2rem;
          }
        }
      }

      .article-1 {
        grid-area: 1 / 1 / 5 / 4;
      }

      .article-2 {
        grid-area: 5 / 1 / 7 / 2;
      }

      .article-3 {
        grid-area: 5 / 2 / 7 / 3;
      }

      .article-4 {
        grid-area: 5 / 3 / 7 / 4;
      }

      .article-5 {
        grid-area: 1 / 4 / 7 / 6;
      }

      .article-6 {
        grid-area: 4 / 6 / 7 / 8;
      }

      .article-7 {
        grid-area: 1 / 6 / 4 / 8;
      }

      .article-5-xl {
        grid-area: 1/4/6/6;
      }

      .article-2,
      .article-3,
      .article-4 {
        .slide-title {
          display: none;
        }
      }

      @media screen and (max-width:700px) {
        & {
          display: flex;
          min-width: 100%;

          .slide {
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}

/* Single article page */
.article-page {

  .article--title {
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  .article--content {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: $white;
    border-radius: $defaultRadius;

  }

  .article--image {
    margin-bottom: 2rem;
    border-radius: $defaultRadius;
    max-height: $bigImageHeight;
    overflow: hidden;
  }
}

/* News Display Large */
.news-display--large {
  display: flex;
  flex-direction: column;

  .news-box {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    background-color: $softLight;
    margin-bottom: 2rem;
    cursor: pointer;
    text-align: center;
    border-radius: $defaultRadius;

    .box--head {
      flex: 0 0 100%;
      max-height: 500px;
      overflow: hidden;
      border-radius: $defaultRadius;

      img {
        object-fit: cover;
        width: 100%;
        height: $bigImageHeight;
        transition: all ease-in-out 200ms;
      }
    }

    .box--body {
      padding: 1rem;

      .box--title {
        margin-bottom: 1rem;
      }

      .box--icons {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: $gray;
      }

      .box--content {
        margin-bottom: 1rem;
      }
    }

    &:hover {
      .box--head {
        img {
          height: 550px;
        }
      }
    }

  }
}

/* News Display Small */
.news-display--small {
  display: flex;
  flex-direction: column;

  .display--title {
    margin-bottom: 1rem;
  }

  .news-box {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    background-color: $softLight;
    margin-bottom: 1rem;
    cursor: pointer;
    height: $smallNewsBox;
    max-height: $smallNewsBox;
    overflow: hidden;
    color: $darkGray;
    border-radius: $defaultRadius;

    .box--head {
      flex: 0 0 30%;
      max-height: $smallNewsBox;
      overflow: hidden;
      border-radius: $defaultRadius;

      img {
        object-fit: cover;
        width: 100%;
        height: $smallNewsBox;
      }
    }

    .box--body {
      flex: 0 0 70%;
      max-width: 70%;
      padding: 0.5rem;

      .box--title {
        margin-bottom: 0.5rem;

        h6 {
          font-weight: 600;
        }
      }

      .box--icons {
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: $gray;
      }

      .box--content {
        max-height: 30%;
        overflow: hidden;
        margin-bottom: 0.5rem;

        p {
          margin-bottom: 0;
        }
      }
    }

    &:hover {
      color: $black;

      .box--icon {
        color: $black;
      }
    }
  }
}

/* Comments */
.comments-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;

  .comment {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;

    .comment--head {
      padding: 0 0.5rem;
      margin-bottom: 1rem;
    }

    .comment--body {
      padding: 0 0.5rem;
    }

    .comment--content {
      text-align: left;
    }

    .comment--reply {
      padding: 0 3rem;
      text-align: right;
      color: $main;
      cursor: pointer;
    }
  }
}


/* Common */
.cursor-pointer {
  cursor: pointer;
}

.logo {
  img {
    max-height: 8vh;
    object-fit: contain;
  }

  &.logo--lg {
    img {
      max-height: 15vh;
      object-fit: contain;
    }
  }
}

.form-group {

  label,
  input {
    margin-bottom: 0.5rem;
  }
}

.notification-container {
  div {
    border-radius: 5rem !important;
  }
}

.profile--picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .image {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    overflow: hidden;
    outline: 3px solid $lightBlue;
  }

  .comment--user-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    overflow: hidden;
    outline: 3px solid $lightBlue;
  }
}

.page--loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light;
  opacity: 0.5;

  .loader--image {
    width: 20vw;
    margin-left: 5vw;
    mix-blend-mode: exclusion;
    filter: hue-rotate(15deg) brightness(0.5);
  }
}

.hide--scroll {
  scrollbar-width: none;

  * {
    scrollbar-width: none;
  }
}

.hide--scroll ::-webkit-scrollbar {
  display: none;
}

/* Animations */
@keyframes backgroundPosition {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}