@import 'colors.scss';
@import 'constants.scss';

/* 
  Resets  
*/

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar-track {
    background-color: $white;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: $red;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $red;

    background-image: -webkit-gradient(linear, 0 0, 0 100%,
        color-stop(.5, rgba(255, 255, 255, .2)),
        color-stop(.5, transparent), to(transparent));
  }
}

*:before,
*:after {
  box-sizing: inherit;
}

/* Base */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 100;
  font-size: 16px;
}

h1 {
  font-family: "MrsAnt-Regular", serif;
  font-size: 61px;
  line-height: 1.3em;
  font-weight: 100;
}

h2 {
  font-size: 26px;
  line-height: 1em;
  font-weight: 600;
}

h3 {
  text-transform: uppercase;
  font-size: 23px;
  line-height: 1.3em;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

h5 {
  font-size: 15px;
  line-height: 1.5em;
}

h6 {
  font-size: 10px;
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: none !important;
}

input {
  font-family: inherit;
}

select {
  letter-spacing: inherit;
  font-weight: inherit;
  appearance: none;
  background-color: transparent;
  color: inherit;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

/* 
  Navigation 
*/
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1000;

  .navigation__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 100;
    opacity: 0;
  }

  .navigation__links-wrapper {
    width: 1200px;
    height: 100%;
    text-align: right;
    padding-top: 1rem;
    z-index: 200;

    .navigation__link {
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;

      &.navigation__link--logo {
        float: left;

        div {
          opacity: 0;
        }

        img {
          max-height: 8vh;
        }
      }

      &.navigation__link--icon {
        padding: 1rem;
      }

      .navigation__link--text {
        position: relative;
        display: inline-block;
        transition: ease-in-out all 150ms;
        color: $darkGray;
        padding: 1rem;
        padding-right: 0;
        margin-left: 1rem;

        span {
          position: relative;
          text-transform: uppercase;
          color: inherit;
        }

        &:hover {
          color: $main;
        }
      }

      &.navigation__link--dropdown {
        margin-left: 1rem;
        border: none !important;

        &:focus,
        &:active {
          border: none !important;
        }

        .dropdown-item {
          color: $gray;
          padding: 1rem;

          a {
            color: inherit;
          }

          &:hover:not(.dropdown--picture) {
            color: $white;
            background-color: $main;
          }

          &.dropdown--picture:hover {
            background-color: unset;

            .image {
              outline-color: $main;
            }
          }
        }
      }

      &.selected {
        .navigation__link--text {
          color: $main;

          span:after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: $main;
          }
        }
      }
    }
  }
}

/* Side Navigation - For EKG Monitor Controls */
.side-navigation {
  height: 100%;
  padding: 2rem 0;

  .side-navigation__links {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .side-navigation__link {
      padding: 1rem;
      width: 100%;
      margin-bottom: 1rem;
      background-color: $white;
      border-radius: 2rem;
      box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);
      transition: ease-in-out 250ms all;
      cursor: pointer;

      .side-navigation__link--text {
        text-transform: uppercase;
        text-align: center;
        color: $gray;
      }

      &.side-navigation__link--logo {
        padding: 1rem;

        img {
          max-height: 4rem;
          object-fit: contain;
        }
      }

      &.selected {
        background-color: $main;

        .side-navigation__link--text {
          color: $white
        }
      }

      &:hover:not(.side-navigation__link--logo) {
        background-color: $main;

        .side-navigation__link--text {
          text-transform: uppercase;
          color: $white;
        }
      }
    }
  }
}

/* Hero */
.hero {
  margin-bottom: 100vh;

  .hero--head {
    position: relative;
    margin: auto;
    max-width: 1200px;
    height: 1px;

    .hero--head-logo {
      position: absolute;
      top: 7rem;
      right: 0;
      z-index: 0;
      cursor: pointer;

      img {
        max-height: 30rem;
      }
    }
  }
}

.hero--background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -3;
  overflow: hidden;

  .hero--background-image {
    height: 100%;
  }
}

/* EKG Monitor Panel - Main panel that holds site router and pages */
.ekg-monitor-panel {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  height: 80vh;
  border-radius: 5rem;
  overflow: hidden;
  background-color: $white;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.3);

  .ekg-monitor-panel--head {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 2rem;
    max-height: 2rem;
    padding: 0 4rem;
    z-index: 100;

    .head--icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
      padding: 0.1rem;
      margin: 0.1rem;
      height: 1rem;
      width: 1rem;
      cursor: pointer;
      background-color: $light;
      transition: all ease-in-out 200ms;

      &.green {
        background-color: $green;
      }

      &.yellow {
        background-color: $yellow;
      }

      &.red {
        background-color: $red;
      }

      &:hover {
        transform: scale(1.2);
      }

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  .ekg-monitor-panel--links {
    flex: 0 0 20%;
    min-width: 10vw;
    border-left: $borderLight;
    background-color: rgba(0, 0, 0, 0.02);
    display: flex;
    justify-content: center;
    z-index: 200;
  }

  .ekg-monitor-panel--body {
    flex: auto;
    width: 100%;
    margin: 2rem;
    border-radius: 3rem;
    box-shadow: $shadowBorder;
    position: relative;
    overflow: hidden;

    .ekg-monitor-panel--loader {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      box-shadow: inset 0 0 6rem rgba(0, 220, 249, 0.1);

      .loader--image {
        width: 10vw;
        margin-left: 5vw;
        mix-blend-mode: exclusion;
        filter: hue-rotate(15deg) brightness(0.5);
      }
    }

    .ekg-monitor-panel--content {
      height: 100%;
      width: 100%;
      padding: 1.5rem;
      overflow-y: auto;
    }
  }

  &.expanded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;

    .ekg-monitor-panel--head {
      padding: 0 0.5rem;
    }

    .ekg-monitor-panel--links {
      max-width: 300px;
    }

    .ekg-monitor-panel--body {
      margin: 2rem 0 0 0;
      border-radius: 0;
      box-shadow: none;
    }

    .ekg-monitor-panel--links {
      flex: unset;
      width: 300px;
      padding: 0;

      .side-navigation {
        width: 100%;
        padding: 0;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);

        .side-navigation__links {
          padding-left: 0;
          padding-right: 0;
          display: unset;

          .side-navigation__link {
            padding: 0;
            margin-bottom: 0;
            border-radius: 0;
            box-shadow: unset;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 1rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.02);

            .side-navigation__link--text {
              width: 100%;
              text-align: left;
            }

            &.side-navigation__link--logo {
              justify-content: flex-start;
              background-color: unset;
              padding: 1rem 0;
            }
          }
        }
      }
    }
  }
}

/* Wrapper */
.wrapper {
  max-width: 1200px;
  margin: auto;
}

/* Page */
.page {
  margin-bottom: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* Box */
.box-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box {
  margin: auto;
  flex: 0 0 33%;
  min-height: 300px;
  background-color: rgba(255, 255, 255, .95);
  border-radius: 3rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0 2rem;
  margin-bottom: 1rem;
  color: $gray;
  text-align: center;
  padding: 1rem;
  transition: ease-in-out 150ms all;
  cursor: pointer;

  .box--head {
    padding: 1rem;
  }

  .box--body {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }

  .box--title {
    margin-bottom: 1rem;
  }

  .box--icon {
    transition: ease-in-out 250ms all;
    color: $lightBlue;

    svg {
      filter: drop-shadow(0 3px 3px rgb(0 0 0 / 0.2));
    }
  }

  &.box-xl {
    width: 75%;
  }

  &:hover {
    transform: scale(1.02);

    .box--icon {
      color: $main;
    }
  }

}

/* Carousel */
.carousel {
  height: 100%;
  width: 100%;

  .carousel-image {
    width: 100%;
    height: 100%;
  }
}

/* Shadows */
.img-shadow {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 10rem rgba(0, 0, 0, 0.5);
  }
}

.img-shadow--left {
  &::before {
    box-shadow: inset 25rem 0 20rem -15rem rgba(0, 0, 0, 0.5);
  }
}

/* Test */
.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-ellipsis--2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.text-ellipsis--3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.text-underline-hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-primary-hover {
  color: inherit;

  &:hover {
    color: $main;
  }
}

/* Common */
.cursor-pointer {
  cursor: pointer;
}

.logo {
  img {
    max-height: 8vh;
    object-fit: contain;
  }

  &.logo--lg {
    img {
      max-height: 15vh;
      object-fit: contain;
    }
  }
}

.form-group {

  label,
  input {
    margin-bottom: 0.5rem;
  }
}

.notification-container {
  div {
    border-radius: 5rem !important;
  }
}

.profile--picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .image {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    overflow: hidden;
    outline: 3px solid $lightBlue;
  }
}

.page--loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light;
  opacity: 0.5;

  .loader--image {
    width: 20vw;
    margin-left: 5vw;
    mix-blend-mode: exclusion;
    filter: hue-rotate(15deg) brightness(0.5);
  }
}