/**
    Colors from Flat UI Colors
    Palette: Canadian
    URL: https: //flatuicolors.com/palette/ca
**/

$main: #2e86de;
$black: #000;
$white: #fff;
$light: #c8d6e5;
$gray: #576574;
$lightGray: #8395a7;
$darkGray: #222f3e;
$green: #1dd1a1;
$darkGreen: #10ac84;
$softBlue: #48dbfb;
$softBlueDark: #0abde3;
$purple: #5f27cd;
$darkPurple: #341f97;
$red: #ff6b6b;
$darkRed: #ee5253;
$blur: #54a0ff;
$darkBlue: #2e86de;
$yellow: #feca57;
$darkYellow: #ff9f43;
$aqua: #00d2d3;
$darkAqua: #01a3a4;
$pink: #ff9ff3;
$darkPing: #f368e0;