/* Doctors profile page */

.doctor-profile--page {
  .profile-card {
    display: flex;
    padding: 0.5rem;
    border: $borderLight;
    border-radius: $defaultRadius;
    box-shadow: $shadowBorder;

    .profile-picture {
      overflow: hidden;

      img {
        border-radius: $defaultRadius;
        max-height: 500px;
        width: 100%;
      }
    }
  }

}