/* Hero */
.hero--background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -3;
  overflow: hidden;

  .hero--background-gradient {
    height: 100%;
    width: 100%;
    background-color: $light--soft;
    box-shadow: $shadow-page--inset;
    // background: rgb(218, 218, 218);
    // background: linear-gradient(-45deg, $blue--light, $blue--soft, $purple, $main);
    // background-size: 400% 400%;
    // animation: backgroundPosition 15s ease infinite;
  }

  .hero--background-image {
    height: 100%;
    width: 100%;
  }
}