/* Page */
.page {
  position: relative;
  padding: 1rem;
  overflow: hidden;
  background-color: $white;
  min-height: 100vh;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  margin-bottom: 3rem;
}

.page--title {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: $gray--dark;
  border-bottom: 1px solid $gray--light;
}