.profile--nav-item {
  border-right: 1px solid $gray--dark;
  margin-bottom: 0.5rem;

  .nav-link {
    background: $white;
    color: $gray--dark;

    &.active {
      background: $white !important;
      color: $main !important;
    }
  }

  &:has(.active) {
    border-color: $main;
  }
}